/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  margin:0;
  padding: 0;
}

html,
body {
  height: 100%;
  color: #9098a9;
}

body {
  display: grid;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

.row {
  display:flex;
  justify-content: space-between;
  width:100%
}
.hidden {
  display:none;
}
.row-cell {
  flex-grow: 1;            -webkit-flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 20px;
  width: 29%;
}
.row-cell:last-child{
  width: 13%;
}
